<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>About</title>
      <link rel="icon" href="/images/icon-tab.png">
  </head>
  <body>
     
    <div class="main-content">{{>header}}
      <img class="portrait"  src="./images/robot.png" alt="profile picture" />
      <p>Esse site foi criado por Yas Castro. Ele usa data do mapbox.com e do openweathermap.com</p>
    </div>
   
     
    
    {{>footer}}
  </body>
</html>